@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
    /* --color-ink-black: #001514; 
    --color-berry-lipstick: #d90368;
    --color-eggshell: #f1e9da;
    --color-state-blue: #735cdd;
    --color-pine-blue: #32746d; */

    --color-ink-black: 0, 21, 20;
    --color-berry-lipstick: 217, 3, 104;
    --color-eggshell: 241, 233, 218;
    --color-state-blue: 115, 92, 221;
    --color-pine-blue: 50, 116, 109;

    --border-radius: 0.5rem;



}

body,
html {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: rgba(var(--color-eggshell));
    color: rgba(var(--color-ink-black));
    height: 100%;
    scroll-behavior: smooth;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0 2rem;

    @media screen and (min-width: 1024px) {
        flex-direction: row;
        padding: 2rem;
        padding: 2rem;
    }
}

p {
    max-width: 800px;
}

header {
    height: 100%;
    padding: 0.5rem 1rem;

    @media screen and (min-width: 1024px) {
        height: 90dvh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: sticky;
        top: 0;
    }
}

.main-navigation {
    background-color: rgba(var(--color-eggshell));
    top: 0;
    position: -webkit-sticky;
    position: sticky;


    nav {
        display: flex;
        justify-content: center;
        gap: 2rem;

        padding: 0.5rem;
        background-color: rgba(var(--color-pine-blue), 0.2);
        border-radius: var(--border-radius);


        a {
            font-size: 1rem;
            font-weight: 500;
            color: rgba(var(--color-pine-blue));
            text-decoration: none;
            transition: all 0.2s ease-in-out;
        }

        a.active {
            font-weight: bold;
        }

        a:hover {
            transform: translateY(2px);
        }
    }

}


.navigation-mobile {
    padding: 0.5rem 1rem;

    @media screen and (min-width: 1024px) {
        display: none;
    }
}


.navigation-desktop {
    display: none;

    @media screen and (min-width: 1024px) {
        display: block;
    }
}


.right-section {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
}

.card {
    border: 2px solid transparent;
    border-radius: var(--border-radius);

    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    max-width: 48rem;
    padding: 1rem;

    @media screen and (min-width: 1024px) {
        flex-direction: row;
        gap: 2rem;
        grid-template-columns: 125px 1fr;
    }

    h4, a {
        margin: 0;
        font-size: 1.125rem;
        font-weight: 700;
        color: rgba(var(--color-ink-black));
        text-decoration: none;
        display: inline-flex;

        svg {
            width: 1rem;
            height: 1rem;
            vertical-align: middle;
            margin-left: 0.25rem;
        }

        @media screen and (min-width: 1024px) {
            font-size: 1.25rem;
        }
    }    
}


#experience {
    .card {
        .tag {
            background-color: rgba(var(--color-state-blue), 0.1);
            color: rgba(var(--color-state-blue));
        }
    }

    .card:hover {
        background-color: rgba(var(--color-state-blue), 0.1);
    }

    .quote {
        border-left: 4px solid rgba(var(--color-state-blue));
        background-color: rgba(var(--color-state-blue), 0.1);
    }
}

#projects {
    .card {
        @media screen and (min-width: 1024px) {
            grid-template-columns: 1fr;
        }

        .tag {
            background-color: rgba(var(--color-berry-lipstick), 0.1);
            color: rgba(var(--color-berry-lipstick));
        }
    }

    .card:hover {
        background-color: rgba(var(--color-berry-lipstick), 0.1);
    }

    .quote {
        border-left: 4px solid rgba(var(--color-berry-lipstick));
        background-color: rgba(var(--color-berry-lipstick), 0.1);
    }
}



.tags {
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.tag {
    display: inline-block;
    padding: 0.25rem 0.75rem;
    border-radius: var(--border-radius);
    font-size: 0.875rem;
    margin-top: 0.5rem;
    font-weight: 700;
}

footer {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    bottom: 0;
    text-align: center;
    font-size: 0.875rem;
    color: rgba(var(--color-ink-black), 0.6);
    background-color: inherit;
    border-top: 1px solid rgba(var(--color-ink-black), 0.1);
    box-shadow: 0px -5px 20px 8px rgba(var(--color-ink-black), 0.05);
    -webkit-box-shadow: 0px -5px 20px 8px rgba(var(--color-ink-black), 0.05);
    padding: 1rem 0;

    p {
        margin: 0rem 1rem;
    }

    a {
        color: rgba(var(--color-ink-black));
        text-decoration: none;
        font-weight: 500;
    }
}

.quote {
    opacity: 0.75;
    margin: 2rem 0;
    padding: 0.5rem 1rem;
    border-radius: calc(var(--border-radius) - 2px);
    width: fit-content;
    max-width: 800px;

    blockquote {
        margin: 0;
        font-style: italic;
        font-size: medium;
        font-weight: 500;
    }

    p {
        margin: 0.5rem 0 0 0;
        text-align: right;
        font-size: small;
    }
}

.quote:hover {
    opacity: 1;
}

.socials {

    display: flex;
    gap: 1rem;

    @media screen and (min-width: 1024px) {
        margin-top: 10rem;
    }

    a {
        color: rgba(var(--color-ink-black));
        text-decoration: none;
    }
}